* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lumanosimo', cursive;
}

section {
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightsalmon;
}

.score {
    color: aliceblue;
    display: flex;
    align-items: center;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.score h2 {
    text-align: center;
    padding: 5px;
    font-size: 50px;
}

.intro h1 {
    font-size: 60px;
    text-align: center;
    padding: 50px;
    font-weight: bold; 
}

.intro button,.options {
    font-size: 25px;
    width: 140px;
    height: 55px;
    background-color: aqua;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 35vh;
    text-align: center;
    transition: opacity 0.5s ease;
    
}
.game {
    position: absolute;
    display: block; 
    width: 100%;
    height: 100%;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.winner {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
}

.player-hand,
.computer-hand {
    display: flex;
    height: 200px;
    padding: 10%;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

.hands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    
}

.computer-hand {
    transform: rotateY(180deg);
}

.match h2 {
    text-align: center;
    font-size: 40px;
}

.match .options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.options button {
    width: 90px;
    height: 90px;
    border-radius: 200px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

div.fadeout {
    opacity: 0;
    pointer-events: none;
}

div.fadein {
    opacity: 1;
    pointer-events: all;
}
